.flex-container-a {
    display: flex;
    margin: 100px;
    display:block;
    justify-content: center;
    border:12px solid #FFD772;
    border-bottom-width: 0px;
    margin-bottom: 0px;

   
   
}



.flex-container-p{
    color:#022232;
    display: flex;
    margin: 100px;
    margin-top: 0px;
    border: 12px solid #FFD772;
    border-top-width: 0px;


  

}

.flex-box-p{
    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    font-size: 25px;
    line-height: 150%;
    width: 70%;

}

.flex-container a {
    color:#022232;
    justify-content: center;
    display: flex;
 
}


.flex-box-ip {
    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    text-align: center;
    font-weight: 400;
    font-style: normal;

    padding: 30px;

    img {
        width: 100%;
        padding: 0px;

    }

}

