.flex-container-parties {
    color:#022232;
    display: flex;
    margin: 100px;
    justify-content: center;

}

.container{
    position: relative;
    justify-content: center;
    color:#022232;
    display: flex;
    margin: 100px;
    border: 12px solid #FFD772;
   
}

.image {
    display: block;
    width: 100%;
    height: auto;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #022232;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: #FFF4CF;
    position: absolute;
    font-size: 25px;
    line-height: 150%;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    align-items: center;

}



.flex-box-parties{
    width: 1000px;
    height: 300px;
    background-color: #022232;
    color:#FFF4CF;
    padding: 30px;
    justify-content: center;

   
}

.flex-parties-image{
    
    border-color: #FFD772;
    flex:0 1 calc(30% - 30px);
    text-decoration:none;
    background-color: #022232;
   
    margin-top: 0px;
    color:#FFF4CF;
    text-align: left;
    font-weight: 400;
    font-style: normal;
   
   

    a img:last-child {
        display: none;  
      }
      a:hover img:last-child {
        display: block;  
      }
      a:hover img:first-child {
        display: none;  
      }

    img {
        display: block;
        width: auto;
        height: 400px;
    }


}

.flex-box-header {
    border:2rem;
    justify-content: center;
    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    padding: 30px;

}


.flex-container-header{
    display: flex;
    margin: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
    display:block;
    justify-content: center;
    border: 12px solid #FFD772;
    margin-bottom: 20px;
 
}

