.flex-container-people {
    color:#022232;
    display: flex;
    margin: 100px;
    border: 5px #FFD772;
   

}



.flex-container-NC {
    background-color:#FFD772;
    display: flex;
    margin: 100px;
    margin-bottom: 0px;
   

}


.flex-people{
    
    border-color: #FFD772;

    text-decoration:none;
    background-color: #022232;
   
    margin-top: 0px;
    color:#FFF4CF;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    padding: 30px;

    img{
        width: 400px;
        align-items: baseline;
    }


}

