:root {
    --background-color: #FFFCF7;
    --background-box-color: #022232;
    --border-color: #FFD772;
    --body-text-color:#FFF4CF;
}

h1 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
}

h2 {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
}

.flex-container {
    margin: 0px;
    text-decoration: none;
    display:block;
    opacity: 100%;
    justify-content: space-around;
    border: 10px;
    border-color: #FFD772;
    width: 70%;

   
   
}

.flex-container a {
    color:#022232;
}

.flex-box {
    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    border: 10px;
    border-color: #FFD772;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    padding: 30px;


}





