:root {
    --background-color: #fff9ed;
    --background-box-color: #022232;
    --border-color: #FFD772;
    --body-text-color:#FFF4CF;
}

h1 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 20px;
}

h2 {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-size: 45px;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
}


.flex-box {

    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    border: 10px;
    border-color: #FFD772;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    padding: 30px;

}

.flex-box-title {
    border:2rem;
    justify-content: center;
    text-decoration:none;
    background-color: #022232;
    color:#FFF4CF;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    padding: 30px;

}


.flex-container {
    display: block;
    margin: 100px;
    justify-content: center;
    border: 12px solid #FFD772;
    margin-bottom: 0px;
}

.flex-container-main{
    display: flex;
    margin: 100px;
    justify-content: center;
    border: 12px solid #FFD772;
   


}

.flex-main {
    background-color: #022232;
    color:#FFF4CF;
    padding: 30px;
    font-size: 25px;
    
    
    p {
        line-height: 150%;
    }

    h1{
        color:#FFD772;
    }

    img {
        align-items: baseline;

    }

   

    
}





.top-bar {
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    display:flex;
    justify-content: space-evenly;
    background-color: #FFCD4C;
    box-shadow: 0 2px 4px #022232(0, 0, 0, 0.2);
    margin-bottom: 2em;
    align-items: center;

   

}

.top-bar a {

    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#022232;
    text-decoration: none;
    font-size: 35px;
    
    justify-content: flex-end;
  

    img{
        width: 40px;
        float: left;
        margin: .5em;
    
    }


}

a:hover {
 color: #009D69;
}